.box1{
  margin: 30px;
  height: 300px;
  width: 300px;
  padding: 20px;
  border: 20px solid #774720;
  border-image-source: url(image/border.png);
  border-image-slice: 28;
  border-image-repeat:space;
  border-image-width: 30px;
  background-color: burlywood;
  border-image-outset: 30px;
}
.box2{
  margin: 30px;
  height: 300px;
  width: 300px;
  padding: 20px;
  border: 20px solid #000;
  background-color: rgb(70, 68, 67);
 border-image:linear-gradient(rgb(44, 139, 92),rgb(0, 128, 128),rgb(60, 124, 161),rgb(41, 76, 153),gray,transparent)25 stretch,black;

}
.box3{
  color: burlywood;
  height: 200px;
  width: 200px;
  background-color: blue;
  background-image: repeating-linear-gradient(rgb(87, 88, 88) 5%,rgb(66, 60, 60) 20%,rgb(24, 27, 29) 30%)
}
.box4{
  margin:30px;
  height: 100px;
  width: 100px;
  padding:20px;
  border:20px solid black;
  border-image:linear-gradient(rgb(92, 190, 145),rgb(61, 136, 146),rgb(47, 94, 138),rgb(53, 71, 150),rgb(35, 39, 97) ,transparent) 30 stretch;
}
.box5{
  color: rgb(75, 44, 5);
  height:200px;
  width:200px;
  background-color:blue;
  background-image: linear-gradient(to right,rgb(172, 170, 64),rgb(139, 104, 38), rgb(218, 123, 45) ,rgb(202, 110, 56));
}
.box6{
  color: rgb(27, 21, 12);
  height:200px;
  width:200px;
  background-color:blue;
  background-image: linear-gradient(180deg,rgb(211, 95, 140),rgb(170, 51, 86), rgb(155, 53, 92) ,rgb(204, 58, 95));  
}